/* SCSS HSL */
$blue-violet: hsla(284, 79%, 24%, 1);
$paradise-pink: hsla(347, 83%, 60%, 1);
$sunglow: hsla(46, 100%, 62%, 1);
$caribbean-green: hsla(166, 60%, 52%, 1);
$go-green: hsla(154, 85%, 37%, 1);

.ant-layout-sider {
    background-color: $blue-violet;
}